@font-face {
  font-family: "Arita-dotum-Bold";
  src: url(../fonts/Arita-dotum-Bold.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Arita-dotum-Light";
  src: url(../fonts/Arita-dotum-Light.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Arita-dotum-Medium";
  src: url(../fonts/Arita-dotum-Medium.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Arita-dotum-SemiBold";
  src: url(../fonts/Arita-dotum-SemiBold.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Arita-dotum-Thin";
  src: url(../fonts/Arita-dotum-Thin.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: "score1";
  src: url(../fonts/SCDream1.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "score2";
  src: url(../fonts/SCDream2.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "score3";
  src: url(../fonts/SCDream3.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "score4";
  src: url(../fonts/SCDream4.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "score5";
  src: url(../fonts/SCDream5.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "score6";
  src: url(../fonts/SCDream6.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "score7";
  src: url(../fonts/SCDream7.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "score8";
  src: url(../fonts/SCDream8.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "score9";
  src: url(../fonts/SCDream9.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Futura-Bold";
  src: url(../fonts/Futura-Bold.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Helvetica-Bold";
  src: url(../fonts/Helvetica-Bold.woff) format("woff");
  font-display: swap;
}
